<div class="rectangles-container">
    <div class="rectangle">
        <div class="person-info">
            <div class="person">
                <img src="assets/fotoperfil.jpeg" alt="Foto Persona 1">
            </div>
            <div class="info">
                <span>Persona 1 - Puntuación: 950</span>
            </div>
        </div>
    </div>
    <div class="rectangle">
        <div class="person-info">
            <div class="person">
                <img src="assets/fotoperfil.jpeg" alt="Foto Persona 1">
            </div>
            <div class="info">
                <span>Persona 2 - Puntuación: 850</span>
            </div>
        </div>
    </div>
    <div class="rectangle">
        <div class="person-info">
            <div class="person">
                <img src="assets/fotoperfil.jpeg" alt="Foto Persona 1">
            </div>
            <div class="info">
                <span>Persona 3 - Puntuación: 720</span>
            </div>
        </div>
    </div>
    <div class="rectangle">
        <div class="person-info">
            <div class="person">
                <img src="assets/fotoperfil.jpeg" alt="Foto Persona 1">
            </div>
            <div class="info">
                <span>Persona 4 - Puntuación: 650</span>
            </div>
        </div>
    </div>
    <div class="rectangle">
        <div class="person-info">
            <div class="person">
                <img src="assets/fotoperfil.jpeg" alt="Foto Persona 1">
            </div>
            <div class="info">
                <span>Persona 5 - Puntuación: 590</span>
            </div>
        </div>
    </div>
</div>